

.slide-container {
    height: 100%;
    width: 200px;
}
.each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 500px;
  }

  button svg{
    margin-left: 6px;
  }
  
  .each-slide-effect span {
    padding: 5px;
    font-size: 5em;
    text-align: center;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

  #first-slide{
    background-image: url("./images/Scales-Background.jpg");
  }

  #second-slide{
    background-image: url("./images/Dark-Library.jpg");
    background-position: 25%;
  }

  #third-slide{
    background-size:cover;
    background-image: url("./images/Court-Pillars.jpg");
    background-position: 40%;
  }

  .Bottom-Border{
    border-bottom: 10px solid #8E793E;
  }

  .default-nav{
    margin: 5px;
  }

  .slide-text{
    margin: 20px
  }

  @media screen and (max-width: 600px) {
    .each-slide-effect > div {
      height: 250px;
    }

    .each-slide-effect span {
      font-size: 3rem;
    }

    .Bottom-Border{
      border-bottom: 5px solid #8E793E;
    }
  }