/*Contact Page*/

  main#contact-page{
    display:grid;
    grid-template: 1fr/ 2fr 1fr;
    height: 600px;
  }
  
  .contact-box{
    display:flex;
    flex-direction:column;
    justify-content:center;
    height:100%;
    grid-column: 1 /span 1;
    margin-left:25px;
  }
  
  .contact-box h2{
    color:#AEAEAE;
    background-color:#231f20;
    text-align:left;
    font-size: 2rem;
    padding-left:10px;
    margin-top:0;
  
  }
  .contact-box ul{
    width:50%;
    flex-direction:column;
    justify-content:center;
    margin:0;
  }
  
  .contact-box figure{
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 10px;
  }
  
  .contact-box figure a img, #phone-number img{
    height: 100px;
    width: 100px;
    background-color: #8E793E;
    border: 10px solid #231f20;
  }


  #facebook a img{
    border: 10px solid #231f20;
  }
  
  .contact-box figure figcaption{
    font-size: 3rem;
    background-color: #AEAEAE;
    color: black;
    font-style:italic;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  #contact-page #phone-number figcaption:hover{
    cursor: default;
  }
  
 
  #contact-page #email figcaption:hover{
    color:blueviolet;
    text-decoration:none;
  }
  
  #contact-page #email figcaption:active{
    color:purple;
  }
  
  #contact-page #email img:hover{
    background-color:blueviolet;
  }
  
  #contact-page #email img:active{
    background-color:purple;
  }
  
  #contact-page #facebook figcaption:hover{
    color:blueviolet;
    text-decoration:none;
  }
  
  #contact-page #facebook figcaption:active{
    color:purple;
  }
  
  #contact-page #facebook img:hover{
    background-color:blueviolet;
    text-decoration:none;
  }
  
  #contact-page #facebook img:active{
    background-color:purple;
  }
  
  .law-image{
    width:75%;
    height: 90%;
    background-color:gray;
    grid-column: 2 / span 1;
    margin:auto;
    background-image: url(./images/Filler-Vertical-Image.jpg);
    background-position:center;
  }

  a:-webkit-any-link{
    text-decoration:none !important;
    }
  
  

    @media screen and (max-width: 1024px){

      .contact-box figure figcaption{
        font-size: 2.25rem;
      }

      .contact-box figure a img, #phone-number img{
        height: 75px;
        width: 75px;
      }

      main#contact-page{
        height: 400px;
      }
    }

    @media screen and (max-width: 800px){
      .contact-box figure figcaption{
        font-size: 2rem;
      }
    }