/*Contact Page*/

  main#contact-page{
    display:grid;
    grid-template: 1fr/ 2fr 1fr;
  }
  
  .contact-box{
    display:flex;
    flex-direction:column;
    justify-content:center;
    height:100%;
    grid-column: 1 /span 1;
    margin-left:25px;
  }
  
  .contact-box h2{
    color:#AEAEAE;
    background-color:#231f20;
    text-align:left;
    font-size: 2rem;
    padding-left:10px;
    margin-top:0;
  
  }
  .contact-box ul{
    width:1000px;
    flex-direction:column;
    justify-content:center;
    margin:0;
  }
  
  .contact-box figure{
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 10px;
  }
  
  .contact-box figure a img, #phone-number img{
    height: 100px;
    width: 100px;
    background-color: #8E793E;
    border: 10px solid #231f20;
  }


  #facebook a img{
    border: 10px solid #231f20;
  }
  
  .contact-box figure figcaption{
    font-size: 3rem;
    background-color: #AEAEAE;
    color: black;
    font-style:italic;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  #contact-page #phone-number figcaption:hover{
    cursor: default;
  }
  
 
  #contact-page #email figcaption:hover{
    color:blueviolet;
  }
  
  #contact-page #email figcaption:active{
    color:purple;
  }
  
  #contact-page #email img:hover{
    background-color:blueviolet;
  }
  
  #contact-page #email img:active{
    background-color:purple;
  }
  
  #contact-page #facebook figcaption:hover{
    color:blueviolet;
  }
  
  #contact-page #facebook figcaption:active{
    color:purple;
  }
  
  #contact-page #facebook img:hover{
    background-color:blueviolet;
  }
  
  #contact-page #facebook img:active{
    background-color:purple;
  }
  
  .law-image{
    width:75%;
    height: 90%;
    background-color:gray;
    grid-column: 2 / span 1;
    margin:auto;
    background-image: url(./images/Filler-Vertical-Image.jpg);
    background-position:center;
  }
  
  /* .feedback-box{
    grid-column: 1 / span 1;
    background-color:#AEAEAE;
    width: 75%;
    height: 80%;
  }
  
  .feedback-box h2{
    color:#AEAEAE;
    background-color:#231f20;
    text-align:center;
    font-size: 1.75rem;
    padding-left:10px;
    margin-top:0;
    margin:0;
  }
  
  .feedback-box .body{
    height: 100px;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  
  .feedback-box form{
    display:flex;
    margin-top:30px;
    height: 110px;
  }
  
  .feedback-box input{
    margin-bottom:10px;
  }
  
  .feedback-box form, input, textarea{
    display: inline-block;
  }
  
  .feedback-box input #submit-button{
    margin-bottom: 10px;
  } */