#about-preview{
    display:flex;
    height: 550px;
    border-top:hsl(345, 6%, 13%) solid 50px;
  }
  
  #about-preview .body{
    justify-content:center;
    height: 500px;
    width: 100%;
    display:flex;
    align-content:center;
    border-left: 50px solid hsl(345, 6%, 13%);
  }

  #todd-img{
    height: 400px;
    width: 325px;
    border: 25px solid hsl(345, 6%, 13%, .7);
  }

  .aws-btn-primary{
    background-color: purple;
  }

  .backstory-container{
    width: 60%;
    margin-top: 50px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
  }

  .backstory-button-container{
    padding-right: 20px;
    width: 100%;
    display:flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .img-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #about-preview .body p{
    grid-row: 1 / span 2;
    grid-column: 2 / span 2;
    font-size: 1.5rem;
  }

  button.aws-btn{
    margin:5px;
    --button-primary-color: blueviolet;
    --button-primary-color-dark: #AEAEAE;
    --button-primary-color-hover: blueviolet;
    --button-primary-color-active: rgb(104, 16, 185);
  }
  
  #about-preview .body p::first-letter{
    color: #d4a352;
    float: left;
    font-family: Georgia;
    font-size: 100px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
  }
  
  #about-preview .body ul{
    grid-row: 1 / span 1;
    grid-column: 3 span 1;
    margin:auto;
    font-size: 1.5rem;
  }
  
  
  #about-preview .body p .first-letter{
    initial-letter: 2;
  }

  #practice-preview{
    display:grid;
    grid-template: 100px 250px / repeat(10 , 1fr);
    grid-row: 3 / span 1;
    grid-column: 1 / span 10;
  }
  
  .header{
    display: flex;
    grid-row: 1 / span 1;
    grid-column: 1 / span 10;
    background-color: #231f20;
    border-bottom: solid 10px #AEAEAE;
    height:100px;
  }
  
  .header h2{
    background-color:#AEAEAE;
    color:black;
    font-size:3rem;
    margin-top: auto;
    padding: 5px 15px;
    margin-left: 50px;
    margin-bottom: 0;
    display: inline;
  }
  
  #practice-preview .body{
    grid-row: 2 / span 1;
    grid-column: 1 / span 10;
    height: 100%;
    width: 100%;
    background-color:white;
  }
  
  #practice-preview .body ul{
    margin:0;
    padding-left:0;
    height:100%;
    width:100%;
    display: flex;
    justify-content:flex-start;
    align-items:center;
    overflow-x:scroll;
  }
  
  #practice-preview .body ul li{
    display: flex;
    width:700px;
    height:175px;
    margin-right: 50px;
    margin-left: 20px;
  }
  
  #practice-preview .body figure{
    background-color: gray;
    width:175px;
    height:175px;
    margin:0;
    border: solid 5px black;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
  }
  
  #practice-preview .body figure figcaption{
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.5rem;
    height: 40%;
    width: 100%;
  }
  
  #practice-preview .body figure img{
    height: 60%;
    width: 100px;
  }
  
  #practice-preview .body a{
    color:black;
  }

  #practice-preview .body a:hover{
    text-decoration:none;
  }
  
  #practice-preview .body figure:hover{
    color: #d4a352;
    border: solid 5px #d4a352;
    text-decoration: none;
  }
  
  /*Margins for each image*/
  
  #practice-preview #divorce-dissolution img{
    margin-top:5px;
  }
  
  #practice-preview #family-law img{
    margin-top:20px;
  }
  
  #practice-preview #landlord-tenat img{
    margin-top:10px;
  }
  
  #practice-preview #discrimination img{
    margin-top:15px;
    margin-bottom:-5px;
    height: 125px;
    width: 125px;
  }
  
  #practice-preview #sexual-harrassment img{
    margin-top:10px;
  }
  
  #practice-preview #personal-injury img{
    margin-top:10px;
    margin-bottom:-10px;
    height: 125px;
    width: 125px;
  }
  
  #practice-preview #unemployment-appeals img{
    margin-top:5px;
  }
  
  @media screen and (max-width: 1024px){
    .header h2{
      font-size:2.5em;
    }

    #todd-img{
      height: 350px;
      width: 275px;
      margin-left: 50px
    }

    #about-preview .body p{
      margin-top: 50px;
      font-size: 1.2rem;
      margin-right: 25px
    }

    .backstory-container{
      margin-top:25px;
    }

  }

  @media screen and (max-width: 800px) {
    #about-preview .body{
      border-left: none;
    }

    #todd-img{
      height: 300px;
      width: 225px;
      margin-left: 25px
    }

    #about-preview .body p{
      margin-top: 75px;
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 600px){
    #todd-img{
      height: 200px;
      width: 150px;
      border:10px solid hsl(345, 6%, 13%, .7);;
      margin-left: 0px;
      margin-top: 20px;
    }

    #about-preview .body p{
      font-size: .9rem;
      margin-top: 0;
    }

    #about-preview .body{
      flex-direction: column;
      justify-content: flex-start;
      height: 550px;
    }
  
    .backstory-container{
      width: 100%;
      height: 200px;
    }

    #about-preview{
      height: 600px;
    }
  }
