header.banner{
    grid-column: 1 / span 2;
    display:flex;
    justify-content: space-between;
    height:90px;
    background-color: #231f20;
    border-bottom: solid 10px  #8E793E;
  }
  
  header img{
    height:80px;
    width:80px;
    grid-column-start:1;
    grid-column-end:2;
    align-self:center;
  }

  .header-hero{
    display: flex;
  }
  
  header .navbar-link-home{
    grid-column-start:2;
    grid-column-end:6;
    align-self:center;
    color: #d4a352;
    font-weight: bold;
    font-size: 40px;
    justify-self: start;
    text-decoration:none;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  
  header nav{
    margin-right: 20px;
    width: 600px;
    justify-self:start;
    align-self:end;
  }

  nav ul{
    display: flex;
    margin:0;
    flex-direction: row;
    justify-content:center;
  }
  
  nav li{
    display:flex;
    background-color:#231f20;
    list-style: none;
    color: #AEAEAE;
    font-size: 20px;
    text-transform:uppercase;
  }
  
  .navbar-link{
    padding: 5px;
    color: white;
    text-decoration:none;
  }
  
  .navbar-link:hover{
    color: #AEAEAE;
    text-decoration: none;
  }

  .active.navbar-link{
    background-color:#8E793E;
    color:black;
    font-weight: bold;
    transform: scaleY(1);
    transform-origin: bottom center;
    transition: transform 0.3s;
  }