header.banner{
    grid-column: 1 / span 2;
    display:flex;
    justify-content: space-between;
    height:90px;
    background-color: #231f20;
    border-bottom: solid 10px  #8E793E;
  }

  #TWE-Logo{
    width: 400px;
    height:90px;
    align-self:center;
  }

  .header-hero{
    display: flex;
  }
  
  header nav{
    margin-right: 20px;
    width: 400px;
    justify-self:start;
    align-self:end;
  }

  nav ul{
    display: flex;
    margin:0;
    flex-direction: row;
    justify-content:center;
  }
  
  nav li{
    display:flex;
    background-color:#231f20;
    list-style: none;
    color: #AEAEAE;
    font-size: 20px;
    text-transform:uppercase;
  }
  
  .navbar-link{
    padding: 5px;
    color: white;
    text-decoration:none;
  }
  
  .navbar-link:hover{
    color: #AEAEAE;
    text-decoration: none;
  }

  .active.navbar-link{
    background-color:#8E793E;
    color: black;
    transform: scaleY(1);
    transform-origin: bottom center;
    transition: transform 0.3s;
  }

  @media screen and (max-width: 1024px){
  #TWE-Logo{
    height: 70px;
    width: 350px;
  }

  nav li{
    font-size: 1rem;
    vertical-align:center;
  }

  header nav{
    width: 350px;
  }
  }

  @media screen and (max-width: 800px){
    #TWE-Logo{
      height: 60px;
      width: 275px;
    }

    header.banner{
      height: 70px;
      border-bottom: 5px solid #8E793E;
    }

    nav li{
      font-size: .9rem;
    }

    header nav{
      width: 300px;
      margin-right: 20px;
    }
  }

  @media screen and (max-width: 600px){
    #TWE-Logo{
      height: 50px;
      width: 250px;
    }

    nav li{
      font-size: .7rem;
      text-align:center;
    }

    header nav{
      width: 200px;
    }
  }

  @media screen and (max-width: 460px){
    #TWE-Logo{
      width: 200px;
    }

    header.banner{
      height: 60px;
    }

    header nav{
      width: 150px;
      margin-right: 50px;
    }
  }

  @media screen and (max-width: 400px){
    #TWE-Logo{
      width: 175px;
    }

    nav li{
      font-size: .58rem;
      text-align:center;
    }
    header nav{
      width: 100px;
    }
  }