/*Practice Areas Page*/

main{
  display: flex;
  flex-direction: column;
}



ul.practice-areas{
  border-top:#AEAEAE 10px solid;
  display: flex;
  margin:0;
  padding:0;
  flex-direction: row;
}

li{
  display:flex;
  list-style: none;
  color: #AEAEAE;
  font-size: 20px;
  text-transform:uppercase;
}

.navbar-link{
  padding: 5px;
  color: white;
  text-decoration:none;
}

.navbar-link:hover{
  color: #AEAEAE;
  text-decoration: none;
}

.active.navbar-link{
  background-color:#8E793E;
  color:black;

}