
footer{
  font-size: 1.25rem;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  width:100%;
  height: 350px;
  background-color:hsla(345, 6%, 13%);
  border-top: 10px solid #AEAEAE;
  color:white;
}

.left-container{
  display: flex;
}

footer ul{
  height: 100%;
  display:flex;
  flex-direction: column;
  margin-bottom: 0;
  height: 275px;
}

footer ul h3{
  color: white;
  font-size: 2rem;
  width:fit-content;
  border-bottom: 2px solid #d4a352;
}
footer ul li {
  list-style: none;
  color: #AEAEAE;
}

footer ul li img {
  height: 150px;
  width: 150px;
}

footer ul.footer-contact-info li a{
  color: white;
  list-style:none;
}

.footer-page-link, .footer-practice-link, .footer-contact-link{
  color: #AEAEAE !important;
}

footer ul li a:hover{
  color:blueviolet !important;
  text-decoration: none;
}

footer ul li a:active{
  color: purple !important;
}

.footer-location-info{
  width: 275px;
  height: 275px;
  padding-right: 0;
}

.footer-location-info li{
  width: fit-content;
}

.footer-location-info img{
  margin-top: 10px;
}
.footer-location-info p{
  color: #d4a352;
  width: 200px;
}

.small-footer{
  display:none;
}

@media screen and (max-width: 1024px){
  footer ul h3{
    font-size:1.5rem;
  }

  footer ul li a, footer ul p{
    font-size: 1.1rem;
  }

  .footer-location-info img{
    height: 125px;
    width: 125px;
  }
}

@media screen and (max-width: 800px){
  footer{
    border-top: 5px solid #AEAEAE;
  }

  .footer-pages{
    display: none !important;
    visibility: hidden;
  }
}

@media screen and (max-width: 600px){
  footer{
    border-top: 5px solid #AEAEAE;
    height: 100px;
  }

  .footer-practice-areas{
    display: none !important;
  }

  .footer-contact-info{
    display: none !important;
  }

  .footer-location-info{
    display: none !important;
  }

  .footer-pages{
    display: none !important;
  }

  .small-footer{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap:none;
    padding-left: 0;
    margin-left: 10px;
    margin-right: 10px;
  }
}

