/*Footer*/

footer{
    font-size: 1.25rem;
    display:flex;
    justify-content:space-between;
    align-items: center;
    width:100%;
    background-color:#231f20;
    border-top: 10px solid #8E793E;
    height: 70px;
    color:#d4a352;
    bottom: 0;
  }

  footer p{
    margin-left:10px;
    padding:none;
  }

  footer ul{
    height: 100%;
    margin: 0;
  }

  footer ul li{
    list-style:none;
  }
  
  footer ul li a:hover{
    color:#d4a352;
  }
  
  footer ul li a:active{
    color:blueviolet;
  }
  
  footer ul.footer-pages{
    display: flex;
    margin-right:20px;
  }
  
  footer ul.footer-contact-info{
    display: flex;
    justify-content:space-evenly;
    padding-right:80px;
    width:600px;
  }
  
  footer ul.footer-contact-info li{
    display: inline-flex;
  }